In [1]:
import pandas as pd

In [1]:
import pandas as pd

In [4]:
survey_schema=pd.read_csv(r'C:\Users\femif\Downloads\stack-overflow-developer-survey-2019\C:\Users\femif\Downloads\stack-overflow-developer-survey-2019\survey_results_public.csv

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
2       Hobbyist                            Do you code as a hobby?
3    OpenSourcer        How often do you contribute to open source?
4     OpenSource  How do you feel about the quality of open sour...
..           ...                                                ...
80     Sexuality  Which of the following do you currently identi...
81     Ethnicity  Which of the following do you identify as? Ple...
82    Dependents  Do you have any dependents (e.g., children, el...
83  SurveyLength  How do you feel about the length of the survey...
84    SurveyEase  How easy or difficult was this survey to compl...

[85 rows x 2 columns]

In [1]:
import pandas as pd

In [5]:
cs=pd.read_csv(r'C:\Users\femif\Downloads\stack-overflow-developer-survey-2019\survey_results_public.csv')
cs

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [10]:
null_values=cs['Student'].isna().sum()
null_values

1869

In [13]:
clean_data=cs.dropna()
clean_data

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
19,20,"I am not primarily a developer, but I write co...",No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Lithuania,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...",...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers,38.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
38,39,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers,42.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
43,44,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,43.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
82,83,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,22.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Neither easy nor difficult
103,104,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,South Asian,Yes,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88161,88711,I am a developer by profession,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Arab Emirates,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,31.0,Man,No,Straight / Heterosexual,East Asian,Yes,Too long,Neither easy nor difficult
88178,88728,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Romania,"Yes, part-time",Some college/university study without earning ...,"Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,33.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
88236,88786,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,28.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
88301,88853,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,27.0,Man,No,Straight / Heterosexual,"Hispanic or Latino/Latina;Native American, Pac...",No,Appropriate in length,Easy
88325,88878,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Easy

In [14]:
cs

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [19]:
clean_data_row=cs.dropna(axis=1)
clean_data_row

       Respondent Hobbyist                                        OpenSourcer
0               1      Yes                                              Never
1               2       No                            Less than once per year
2               3      Yes                                              Never
3               4       No                                              Never
4               5      Yes                         Once a month or more often
...           ...      ...                                                ...
88878       88377      Yes  Less than once a month but more than once per ...
88879       88601       No                                              Never
88880       88802       No                                              Never
88881       88816       No                                              Never
88882       88863      Yes                            Less than once per year

[88883 rows x 3 columns]

In [20]:
new_data=cs.fillna(0)
new_data

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,0,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,0,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",0,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,0,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,0,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,0,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,0,...,0,Tech articles written by other developers;Tech...,0.0,Man,No,0,0,No,Appropriate in length,Easy
88879,88601,0,No,Never,The quality of OSS and closed source software ...,0,0,0,0,0,...,0,0,0.0,0,0,0,0,0,0,0
88880,88802,0,No,Never,0,Employed full-time,0,0,0,0,...,0,0,0.0,0,0,0,0,0,0,0
88881,88816,0,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",0,0,0,0,...,0,0,0.0,0,0,0,0,0,0,0
88882,88863,0,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [21]:
new=cs.fillna('hai')
new

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,hai,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,hai,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",hai,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,hai,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,hai,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,hai,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,hai,...,hai,Tech articles written by other developers;Tech...,hai,Man,No,hai,hai,No,Appropriate in length,Easy
88879,88601,hai,No,Never,The quality of OSS and closed source software ...,hai,hai,hai,hai,hai,...,hai,hai,hai,hai,hai,hai,hai,hai,hai,hai
88880,88802,hai,No,Never,hai,Employed full-time,hai,hai,hai,hai,...,hai,hai,hai,hai,hai,hai,hai,hai,hai,hai
88881,88816,hai,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",hai,hai,hai,hai,...,hai,hai,hai,hai,hai,hai,hai,hai,hai,hai
88882,88863,hai,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [15]:
import pandas as pd

In [16]:
data={
    "name":["teamA","teamB","teamB","teamA"],
    "b":[45,45,60,45],
    "c":[True,False,False,True]
}
data2=pd.DataFrame(data)

In [17]:
data2

    name   b      c
0  teamA  45   True
1  teamB  45  False
2  teamB  60  False
3  teamA  45   True

In [18]:
duplicated_rows=data2.duplicated()
duplicated_rows

0    False
1    False
2    False
3     True
dtype: bool

In [19]:
drop=data2.drop_duplicates()
drop

    name   b      c
0  teamA  45   True
1  teamB  45  False
2  teamB  60  False

In [20]:
data_students = {
    'Student_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Holly', 'Ivy', 'Jack'],
    'Subject': ['Math', 'English', 'Math', 'Science', 'English', 'Math', 'Science', 'Math', 'Science', 'English'],
    'Score': [85, 92, 78, 88, 94, 76, 89, 90, 82, 91]
}

df_students = pd.DataFrame(data_students)
df_students

   Student_ID     Name  Subject  Score
0           1    Alice     Math     85
1           2      Bob  English     92
2           3  Charlie     Math     78
3           4    David  Science     88
4           5      Eve  English     94
5           6    Frank     Math     76
6           7    Grace  Science     89
7           8    Holly     Math     90
8           9      Ivy  Science     82
9          10     Jack  English     91

In [21]:
grouped_subjects=df_students.groupby('Subject')
count=grouped_subjects['Score'].sum()
count

Subject
English    277
Math       329
Science    259
Name: Score, dtype: int64

In [22]:
grouped_subjects=df_students.groupby('Subject')
count=grouped_subjects['Score'].mean()
count

Subject
English    92.333333
Math       82.250000
Science    86.333333
Name: Score, dtype: float64

In [23]:
data = {
    'Subject': ['Math', 'English', 'Math', 'Science', 'English', 'Math', 'Science', 'Math', 'Science', 'English'],
    'Class': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Score': [85, 92, 78, 88, 94, 76, 89, 90, 82, 91]
}

df = pd.DataFrame(data)
df

   Subject Class  Score
0     Math     A     85
1  English     B     92
2     Math     A     78
3  Science     B     88
4  English     A     94
5     Math     B     76
6  Science     A     89
7     Math     B     90
8  Science     A     82
9  English     B     91

In [24]:
grouped_subjects=df.groupby('Subject')
a=grouped_subjects['Score'].min()
a

Subject
English    91
Math       76
Science    82
Name: Score, dtype: int64

In [25]:
grouped_class=df.groupby(['Subject','Class'])
grouped_class

In [26]:
avg_scores=grouped_class['Score'].mean()
avg_scores

Subject  Class
English  A        94.0
         B        91.5
Math     A        81.5
         B        83.0
Science  A        85.5
         B        88.0
Name: Score, dtype: float64

In [27]:
filtered_group=avg_scores[avg_scores>=85]
filtered_group

Subject  Class
English  A        94.0
         B        91.5
Science  A        85.5
         B        88.0
Name: Score, dtype: float64

In [28]:
sum_scores=grouped_class['Score'].sum()
sum_scores

Subject  Class
English  A         94
         B        183
Math     A        163
         B        166
Science  A        171
         B         88
Name: Score, dtype: int64

In [32]:
filtered_scores=sum_scores[sum_scores<=171]
filtered_scores

Subject  Class
English  A         94
Math     A        163
         B        166
Science  A        171
         B         88
Name: Score, dtype: int64

In [31]:

avg_scores1=grouped_class['Score'].transform('mean')
avg_scores1

0    81.5
1    91.5
2    81.5
3    88.0
4    94.0
5    83.0
6    85.5
7    83.0
8    85.5
9    91.5
Name: Score, dtype: float64

In [61]:
df['score_difference']=df['Score']-avg_scores1
df

   Subject Class  Score  score_difference
0     Math     A     85               3.5
1  English     B     92               0.5
2     Math     A     78              -3.5
3  Science     B     88               0.0
4  English     A     94               0.0
5     Math     B     76              -7.0
6  Science     A     89               3.5
7     Math     B     90               7.0
8  Science     A     82              -3.5
9  English     B     91              -0.5

In [1]:
import pandas as pd

In [2]:
data = {
    'EmployeeID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Holly'],
    'Department': ['HR', 'IT', 'HR', 'Finance', 'IT', 'Finance', 'HR', 'IT'],
    'Salary': [55000, 60000, 52000, 70000, 65000, 72000, 56000, 61000]
}

df5 = pd.DataFrame(data)
df5

   EmployeeID     Name Department  Salary
0         101    Alice         HR   55000
1         102      Bob         IT   60000
2         103  Charlie         HR   52000
3         104    David    Finance   70000
4         105      Eve         IT   65000
5         106    Frank    Finance   72000
6         107    Grace         HR   56000
7         108    Holly         IT   61000

In [3]:
grouped_departments=df5.groupby('Department')
grouped_departments

In [4]:
avg_salary=grouped_departments['Salary'].mean()
avg_salary

Department
Finance    71000.000000
HR         54333.333333
IT         62000.000000
Name: Salary, dtype: float64

In [5]:
avg_salary1=grouped_departments['Salary'].transform('mean')
avg_salary1

0    54333.333333
1    62000.000000
2    54333.333333
3    71000.000000
4    62000.000000
5    71000.000000
6    54333.333333
7    62000.000000
Name: Salary, dtype: float64

In [6]:
df5['salary_differnce']=df5['Salary']-avg_salary1
df5

   EmployeeID     Name Department  Salary  salary_differnce
0         101    Alice         HR   55000        666.666667
1         102      Bob         IT   60000      -2000.000000
2         103  Charlie         HR   52000      -2333.333333
3         104    David    Finance   70000      -1000.000000
4         105      Eve         IT   65000       3000.000000
5         106    Frank    Finance   72000       1000.000000
6         107    Grace         HR   56000       1666.666667
7         108    Holly         IT   61000      -1000.000000

In [7]:
import pandas as pd

In [9]:
data={
    'A':[1,2,3,4,5],
    'B':[10,20,30,40,50]

}
df=pd.DataFrame(data)
df

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [10]:
def multiple_by_two(x):
    return 2 * x

In [11]:
result_df=df.apply(multiple_by_two,axis=1)
result_df

    A    B
0   2   20
1   4   40
2   6   60
3   8   80
4  10  100

In [12]:
result_series=df['A'].apply(multiple_by_two)
result_series

0     2
1     4
2     6
3     8
4    10
Name: A, dtype: int64

In [15]:
new_data={'Name':['A','B','C','D','E'],
         'Age':[10,25,'ten',65,8] }
df_new=pd.DataFrame(new_data)
df_new

  Name  Age
0    A   10
1    B   25
2    C  ten
3    D   65
4    E    8

In [17]:
df_new['Age']=pd.to_numeric(df_new['Age'],errors='coerce')
df_new

  Name   Age
0    A  10.0
1    B  25.0
2    C   NaN
3    D  65.0
4    E   8.0